In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("C:/Users/khara\OneDrive\Desktop\AllFolder\Data Sets/PS4_GamesSales.csv")
data.sample(5)

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
550,Worms: WMD,2016.0,Strategy,Team17 Digital Ltd,0.02,0.02,0.00,0.01,0.05
503,Batman: The Enemy Within,2017.0,Adventure,Telltale Games,0.05,0.00,0.00,0.01,0.07
208,Sonic Forces,2017.0,Platform,Sega,0.15,0.31,0.01,0.09,0.56
286,The Heavy Rain and Beyond: Two Souls Collection,2016.0,Action,Sony Computer Entertainment,0.00,0.24,0.00,0.04,0.28
1022,Moons Of Madness,2017.0,Role-Playing,Unknown,0.00,0.00,0.00,0.00,0.00

In [4]:
data.rename(columns={'North America':'India'})

,Game,Year,Genre,Publisher,India,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
...,...,...,...,...,...,...,...,...,...
1029,Fallen Legion: Flames of Rebellion,NaN,Role-Playing,NaN,0.00,0.00,0.00,0.00,0.00
1030,Radial G Racing Revolved,2017.0,Racing,Tammeka Games,0.00,0.00,0.00,0.00,0.00
1031,The Mummy Demastered,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1032,Project Nimbus: Code Mirai,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1033,Battle Chef Brigade,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00

In [6]:
data.shape  # With help of this you can show the whole data set like how many raws and columns are there

(1034, 9)

In [7]:
data.isnull().any().any()

True

In [8]:
data = df.drop(columns=['Columns name']) # here you can remove the extra columns

NameError: name 'df' is not defined

In [11]:
data = data.fillna(method='ffill')  # with help of this you can fill the NaN values

In [12]:
data.isnull().any().any()

False

In [13]:
data['Game']

0                       Grand Theft Auto V
1                Call of Duty: Black Ops 3
2                    Red Dead Redemption 2
3                       Call of Duty: WWII
4                                  FIFA 18
                       ...
1029    Fallen Legion: Flames of Rebellion
1030              Radial G Racing Revolved
1031                  The Mummy Demastered
1032            Project Nimbus: Code Mirai
1033                   Battle Chef Brigade
Name: Game, Length: 1034, dtype: object

In [14]:
for i in range(1, len(data['Game'])):
    print(data['Game'][i]['Year'])

TypeError: string indices must be integers

In [15]:
data.keys()

Index(['Game', 'Year', 'Genre', 'Publisher', 'North America', 'Europe',
       'Japan', 'Rest of World', 'Global'],
      dtype='object')

In [16]:
data.values()

TypeError: 'numpy.ndarray' object is not callable

In [19]:
data.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [23]:
data.iterrows()

In [30]:
Genre = input("Enter the name of the Genre : ")

for i in range(0, len(data['Genre'])):
    if Genre == data['Genre']:
        print('data found')
        break
else:
    print('not found')

Enter the name of the Genre : Shooter

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [31]:
data.keys()

Index(['Game', 'Year', 'Genre', 'Publisher', 'North America', 'Europe',
       'Japan', 'Rest of World', 'Global'],
      dtype='object')

In [37]:
pd.set_option("display.max.columns", None)
pd.set_option("display.precision",2)          ##When you have ... in columns your data is not seen in screen then you can wirte this

In [38]:
data.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [39]:
data.tail()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
1029,Fallen Legion: Flames of Rebellion,2018.0,Role-Playing,Bandai Namco Entertainment,0.0,0.0,0.0,0.0,0.0
1030,Radial G Racing Revolved,2017.0,Racing,Tammeka Games,0.0,0.0,0.0,0.0,0.0
1031,The Mummy Demastered,2017.0,Action,Tammeka Games,0.0,0.0,0.0,0.0,0.0
1032,Project Nimbus: Code Mirai,2017.0,Action,Tammeka Games,0.0,0.0,0.0,0.0,0.0
1033,Battle Chef Brigade,2017.0,Action,Tammeka Games,0.0,0.0,0.0,0.0,0.0

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034 entries, 0 to 1033
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           1034 non-null   object
 1   Year           1034 non-null   float64
 2   Genre          1034 non-null   object
 3   Publisher      1034 non-null   object
 4   North America  1034 non-null   float64
 5   Europe         1034 non-null   float64
 6   Japan          1034 non-null   float64
 7   Rest of World  1034 non-null   float64
 8   Global         1034 non-null   float64
dtypes: float64(6), object(3)
memory usage: 72.8+ KB

In [41]:
data.describe(include=object)  # here with include you can print the specific Dtype

               Game   Genre                       Publisher
count          1034    1034                            1034
unique         1031      17                             152
top     War Thunder  Action  Sony Interactive Entertainment
freq              2     258                              58

In [46]:
data['Game'].value_counts()

War Thunder                            2
Biomutant                              2
Apotheon                               2
Hellraid                               1
Dynasty Warriors 8: Empires            1
                                      ..
Maniac Mansion: Day of the Tentacle    1
Dungeons 2                             1
RESOGUN                                1
Punch Line                             1
Strike Suit Zero                       1
Name: Game, Length: 1031, dtype: int64